body::before{
    display: block;
    content: '';
    height: 60px;
}

#map{
    width: 100%;
    height: 100%;
    border-radius:10px ;
}
.movieImage{
    width: 100%;
    height: 50vh;
}
dl {
    width: 100%;
    overflow: hidden;

}
dt {
    float: left;
    /* adjust the width; make sure the total of both is 100% */
}
dd {
    float: left;
    /* adjust the width; make sure the total of both is 100% */

}


@media (min-width: 768px) {
    .news-input{
        width: 50%;
    }
}